session.*
srecode-map.el
tramp
projectile.cache
*.cache
recentf*
smex-items
url/*
image-dired
ido*.last
*conflicted copy*
.sx
server
.python-environments
*.pyc
semanticdb
.lsp-session*
.#session*
org-clock-save.el
image-dired
bookmarks
request